/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;800&display=swap");
/* font-family: 'Sora', sans-serif; */

:root {
  font-family: "Sora", sans-serif;
  --bg: #e2e8f0;
}

.main-grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(80px, 15%) 1fr;
  grid-template-rows: minmax(50px, 35%) 78% minmax(0px, 5%);
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
}

.control-sidebar {
  background-color: #1992d4;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: minmax(50px, 10%) minmax(150px, 30%) minmax(100px, 20%);
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "logo logo"
    "g-icons general"
    "s-icons settings";
  gap: 1rem;
  color: white;
  padding-left: min(3rem, 14px);
  padding-top: 1vh;
}

.general-icons {
  grid-area: g-icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.general-icons img {
  max-height: 20px;
  max-width: 20px;
}

.settings-icons img {
  max-height: 20px;
  max-width: 20px;
}

.settings-icons {
  grid-area: s-icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-content: space-evenly;
  flex: 1 1 auto;
}

.control-sidebar > span {
  /* background-color: rgb(32, 32, 68); */
  grid-area: logo;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5vw;
  font-size: 1.5vmax;
  padding-left: 1vw;
}

aside .general {
  /* background-color: cornflowerblue; */
  grid-area: general;
  display: flex;
  justify-content: space-between;
}

.general ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .settings {
  /* background-color: darkkhaki; */
  grid-area: settings;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 auto;
}

.main-header {
  align-items: center;
  padding: 16px 6vw 3vh 3vw;
  gap: 2rem;
  background-color: #ffffff;
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr minmax(10px, 3fr);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.main-header .upper-header {
  align-items: center;

  display: grid;
  grid-template-columns: 60% minmax(0, 3fr) repeat(3, auto);
  grid-template-areas: "search . notif pfp link";
  gap: 2.5vw;
}
header nav span:nth-child(2) {
  grid-area: notif;
}
header nav span:nth-child(2) img {
  height: min(5vw, 32px);
  width: min(5vw, 32px);
}
header nav span:nth-child(3) {
  grid-area: pfp;
}
header nav span:nth-child(3) img {
  height: min(5vw, 32px);
  width: min(5vw, 32px);
}

header nav a {
  grid-area: link;
  text-decoration: none;
  color: black;
  font-size: 1.1vmax;
}

.upper-header input[type="search"] {
  grid-area: search;
  justify-self: stretch;
  border-radius: 1.5em;
  border-style: none;
  background-color: var(--bg);
  padding: 8px 16px;
}

.main-header .lower-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-welcome {
  display: flex;
}

.user-welcome img {
  height: 6vh;
  width: 6vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: max(10px, 1vw);
}

.user-info a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.header-btns {
  display: flex;
  gap: min(4vw, 40px);
}

.header-btns button {
  background-color: #1992d4;
  border-style: none;
  padding: 8px 22px;
  border-radius: max(1rem, 100px);
  color: white;
  font-size: 2vmin;
}

.sub-main-container {
  padding-bottom: 3%;
  background-color: var(--bg);
  grid-area: main;
  overflow: hidden;
  display: grid;

  grid-template-columns: minmax(50%, 60%) 1fr;
  grid-template-rows: minmax(0px, 2rem) 1fr;
  grid-template-areas:
    "header header r-side"
    "prjct prjct r-side";

  padding-left: clamp(5px, 2rem, 2rem);
  padding-top: clamp(5px, 2rem, 2rem);
  padding-bottom: clamp(5px, 2rem, 2rem);
  padding-right: 6vw;
  column-gap: clamp(5px, 3rem, 3rem);
}

.sub-main-container > h1 {
  font-weight: bold;
  font-size: 1.2em;
}

.sub-main-container > h1:first-child {
  grid-area: header;
  font-size: clamp(0px, 3rem);
}

.projects {
  grid-area: prjct;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  column-gap: clamp(10px, 4rem, 2rem);
  row-gap: 2em;
  overflow: scroll;
  scrollbar-width: none;
}

.projects > div {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 0.6em;
  border-left: solid orange;
  border-width: 0.6rem;
  display: grid;
  grid-template-rows: 1fr 40px;
  grid-template-areas:
    "info"
    "btns";
  padding: 1.5em 1em 1em 1em;
}
.project-title {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.project-title h1 {
  font-weight: bold;
  font-size: 1rem;
}
.card-btns {
  grid-area: btns;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.4rem;
  gap: 2vw;
}

.card-btns span img {
  width: 1rem;
  height: 1rem;
}

.projects::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.right-side {
  grid-area: r-side;
  display: grid;
  grid-template-rows: minmax(0px, 2rem) 1fr minmax(0px, 2rem) 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header1"
    "ancmnts"
    "header2"
    "trnd";
}

.right-side .header-r {
  font-weight: bold;
  font-size: 1.2em;
}

.right-side .header-r:nth-of-type(1) {
  grid-area: header1;
}
.right-side .header-r:nth-of-type(2) {
  grid-area: header2;
}
.announcements {
  background-color: #ffffff;
  padding: 1em 1.8em 1.3em 1.8em;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 0.6em;
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anc {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.anc:nth-child(3) {
  border-bottom: none;
}

.anc h1 {
  font-weight: bold;
  font-size: 1.8vmin;
  padding: 1.1vh 0;
}

.anc p {
  font-size: 1vmin;
  padding-bottom: 2vh;
}

@media (max-width: 560px) {
  .header-btns {
    padding: 1rem;
  }

  .user-info {
    font-size: 0;
    padding: 0%;
  }
  .anc h1 {
    font-weight: bold;
    font-size: 5vmin;
  }

  .anc p {
    width: 0;
    height: 0;
    font-size: 0;
  }

  .control-sidebar span h1:last-child {
    font-size: 0;
  }
  .control-sidebar span h1:first-child {
    font-size: 2rem;
  }
}

.trending {
  background-color: #ffffff;
  padding: 1.1em 1em;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trending div {
  display: flex;
  gap: 1em;
}

.trending span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending h1 {
  font-weight: bolder;
}
.trending img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: var(--bg);
  grid-area: footer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
